@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 480px;
  max-width: 1024px;
  font-family: "Open Sans", "Helvetica Neue", "sans-serif";
  box-sizing: border-box;
  font-size: 1.2rem;
}

:root {
  --highlight: #7fddd3;
  --bg: #ededed;
  --text-color: #242526;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header */
header {
  top: 0;
  margin: 0 auto;
  position: fixed;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  padding: 20px 40px;
}

.navbar {
  display: flex;
  gap: 10px;
}

.icon-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.1rem;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  background: var(--bg);
  padding: 6px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms;
}

.icon-button:hover {
  background: var(--highlight);
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 200ms;
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background: var(--highlight);
}

.dropdown {
  position: absolute;
  font-size: 1rem;
  top: 70px;
  width: 140px;
  transition: translateX(-45%);
  background: var(--bg);
  border: var(--text-color);
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/* MainBody */
section.container {
  margin: auto;
  margin-top: 110px;
  display: flex;
  max-width: 95%;
  justify-content: space-between;
}

/* content */
section.content {
  flex: 1;
}

.select-box {
  font-family: inherit;
}

select {
  background: var(--bg);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 10px;
  width: 360px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.showAll-btn {
  background: var(--text-color);
  color: var(--bg);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 10px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.showAll-btn:hover {
  background: var(--highlight);
  color: var(--text-color);
}

/* context */
section.context {
  width: 100px;
}

/* Responsive */
@media screen and (max-width: 640px) {
  section.container {
    display: block;
  }

  nav {
    display: block;
  }
}
